Source: ethminer-opencl
Section: misc
Priority: optional
Maintainer: Baltnet Communications <info@baltnet.ee>
Build-Depends: debhelper (>=10), mesa-common-dev
Standards-Version: 3.9.6
Homepage: https://github.com/ethereum-mining/ethminer
Vcs-Git: git@github.com:baltnet-communications/ethminer.git
Vcs-Browser: https://github.com/baltnet-communications/ethminer

Package: ethminer-opencl
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, amdgpu-pro, amdgpu-pro-dkms
Conflicts: clayminer-xmr, clayminer-dual, sgminer
Replaces: clayminer-xmr, clayminer-dual, sgminer
Description: Ethereum miner with OpenCL support
